body{
    font-family: 'Arial', sans-serif;
    padding: 0;
    margin: 0;
}
.container{
    width: 1240px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
/* ******************** */
.site-header{
    height: 200px;
    width: 100%;
    background-image: url(../images/dala.png);
}
.site-header-wrapper{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    width: 500px;
    padding: 8px 8px;
    border: 1px solid rgb(105, 102, 102);
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}
.search__text{
    margin: 0;
}
.telephone{
    padding: 0 8px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(105, 104, 104);
    border-radius: 5px;
    background-color: #fff;
    gap: 10px;
}
.nav{
    padding-left: 200px;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 30px;
}
/* ********************* */
.site-main{
    padding-top: 40px;
    background-color: rgb(37, 177, 219);
}
.main-section-wrapper{
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
}
.section__title{
    margin: 0;
}
.card{
    width: 350px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
}
.site-aside{
    padding-top: 40px;
    padding-bottom: 40px;
}
.site-aside-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(98, 62, 230);
}
.card1{
    text-align: center;
    width: 200px;
    justify-content: space-between;
}
